body {
    font-size: 20pt;
}

input {
    border: 1px solid lightslategray;
    font-size: 20pt;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    text-align: right;
}

input[readonly]
{
    border: none;
}

span.label {
    width: 160px;
    display: inline-block;
}

table.details {
    text-align: right;
    font-size: 16pt;
}

table.details th {
    text-align: left;
}

table.details th.center {
    text-align: center;
}

table.details td {
    padding: 6px;
    min-width: 40px;
}

table.details td.br {
    border-right: 1px solid black;
}

table.details td.on {
    background-color: #c4eec4;
}

table.details td.off {
    background-color: #f8a1a1;
}

sup {
    font-size: small;
}

